---
layout: default
title: Lukas Himsel
---

<header>
</header>

<main class="more">
  <div class="card">
    <div class="front">
      <h3>My Ventures</h3>
  {% assign ventures = site.ventures | sort: 'start' | reverse %}
  {% assign prev = ventures | where: 'retired', true %}
  {% assign current = ventures | where: 'retired', false %}
  {% for venture in current %}
      <small>{{ venture.title }}</small>
      <p>
        ({% if venture.start == venture.end %}{{ venture.start }}{% else %}{{ venture.start }} - {{ venture.end }}{% endif %}): {{ venture.content | strip_html }}
      </p>
      {% endfor %}
      <hr>
      {% for venture in prev %}
      <small>{{ venture.title }}</small>
      <p>
        ({% if venture.start == venture.end %}{{ venture.start }}{% else %}{{ venture.start }} - {{ venture.end }}{% endif %}): {{ venture.content | strip_html }}
      </p>
      {% endfor %}
    </div>
  </div>
</main>

<footer>
  <a class="left" href="/">Back to main</a>
  <a class="right" on="tap:AMP.setState({show: !show})"
    ><span [class]="show ? 'show' : 'hide'" class="hide"
      >Kontakt s.o.<br />Lorenzer Str. 23<br />90402 Nürnberg</span
    ><br />Impressum</a
  >
</footer>
